<div class="card p-4">
  <!-- Komunikat o błędzie walidacji Email -->
  @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
    <div class="error-message">
      @if (registerForm.get('email')?.errors?.['required']) {Email jest wymagany.} @else {}
      @if (registerForm.get('email')?.errors?.['email']) {Wprowadź poprawny adres email.} @else {}
    </div>
  }

  <!-- Formularz rejestracji -->
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Hasło</label>
      <input type="password" id="password" formControlName="password" class="form-control" required minlength="6">
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Potwierdzenie hasła</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Zarejestruj się</button>
  </form>

  <!-- Globalny komunikat o błędzie -->
  @if (errorMessage) {
    <div class="error-message mt-3 alert alert-danger">{{ errorMessage }}</div>
  }
</div>